.signup-form{
    padding:10px 10px 20px 10px;
    margin-top:60px;
    magrin-bottom: 50px;

}
.warning-review-info{
    color: red;
    font-style: italic;
}
.message-warning{
    color: red;
    font-style: italic;
}
.message-ok{
    color: green;
    font-style: italic;
}