extends ../views/layout
extends ../views/header
block content
    .row
        .col-md-3
        .col-md-6
            form.signup-form(role="form", action="error")
                h3 Sign In
                p Three in one
                hr
                .form-group
                    label(role="email-name") Email:
                    input.form-control(id="email-name",placeholder="Required")
                .form-group
                    label(role="password1") Password:
                    input.form-control(id="password1",placeholder="Required")
                p.warning-review-info *Please review all info before submitting...
                button.btn.btn-success(type="submit") Submit
        .col-md-3
