extends ../views/layout
extends ../views/header
block content
    .row
        .col-md-3
        .col-md-6.text-center.error-page
            h3 Opp! All features will be available in June 2016
        .col-md-3