extends ../views/layout
extends ../views/header
block content
    .container-fluid.underHeader.bg-1.text-center
        img.img-circle(src="images/logonew2.png", alt="NOFBAF-LOGO", style="margin-top: 20px; width: 150px")
        h3 Why NOFBAF?
    .container-fluid.bg-2.text-center
        h3 Enjoy your current relationships!
        img(src="images/relationships.png", alt="Relationships")
        p Depending on your own characteristics, NOFBAF adds friends automatically to your friend list and remove if you have no communicate with them to make sure that the people keep in touch with you to be friend in list.
    .container-fluid.bg-3.text-center
        h3 Manage your money by updating status!
        img(src="images/money.jpg", alt="Money")
        p All finance stuffs can be managed by a simple way. That is update your status.
    .container-fluid.bg-4.text-center
        h3 Personal market!
        img(src="images/online-marketplace.png", alt="Personal-market")
        p Notifications will be sent to people who are looking for your products by a click.
block footer
    .container-fluid.text-center
        p Copy Right @ 2015-2016